@tailwind base;
@tailwind components;
@tailwind utilities;

.o_field_statusbar > .o_statusbar_status {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-content: space-around;
    margin-left: auto;
    flex-flow: row-reverse wrap-reverse;
    align-self: stretch;
    align-items: stretch;
}

.o_arrow_button {
    min-height: 33px;
    position: relative;
    padding-left: 22px;
    border-width: 0;
    font-size: 0.94791667rem;
}

.o_arrow_button:first-child {
    padding-right: 16px;
    overflow-x: hidden;
}

.o_arrow_button:last-child {
    padding-left: 15px;
    border-left: 1px solid #dee2e6;
}

.o_arrow_button:not(:first-child):before, .o_arrow_button:not(:first-child):after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: -10px;
    border-top: 16px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: none;
    border-left: 11px solid white;
    -moz-transform: scale(0.9999);
}

.o_arrow_button:not(:first-child):before {
    right: -11px;
    border-left-color: #dee2e6 !important;
}

.o_arrow_button.disabled {
    opacity: 1;
    pointer-events: none;
}

.o_arrow_button.disabled:not(.o_arrow_button_current), .o_arrow_button.disabled:not(.o_arrow_button_current):hover, .o_arrow_button.disabled:not(.o_arrow_button_current):focus {
    color: rgba(73, 80, 87, 0.76);
}

.o_arrow_button.o_arrow_button_current.disabled {
    background-color: #71639e;
    color: #FFFFFF;
}

.o_arrow_button.o_arrow_button_current.disabled:after, .o_arrow_button.o_arrow_button_current.disabled:before {
    border-left-color: #71639e;
}

/* /web/static/src/views/fields/text/text_field.scss */
.o_field_text > div > textarea {
    height: auto;
    resize: none;
    overflow-y: hidden;
}

/* /web/static/src/views/fields/translation_button.scss */
.o_list_view .o_field_translate {
    margin-left: -35px;
    padding: 0px 1px;
    text-align: right;
    width: 35px;
    vertical-align: top;
}
